.content{
    border-radius: 30px;
    border: 1px solid black;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 4fr 8fr;
    font-style: oblique;
    font-family: URW Chancery L, cursive;
}