.descr {
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    background-color: lightgrey;
    width:99%;
}
.img {
    height: 110px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 30px;
    float: left;
    margin-left: 3px;
}
.title {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link {
    text-decoration: none;
}
